body{
    background-color: darkkhaki;

}

.main {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    position: absolute;
    margin-top: 80px;
    margin-left: 250px;
    
}

.second {
    position: absolute;
    top: 140px
}

#todoInput {
    width: 500px;
    background-color: bisque;
}

.editData{
    position: absolute;
    left: 530px;
}

.delData
{
    position: absolute;
    left: 595px;
}

button{
    padding: 0px 10px;
    background-color: orange;
    color: black;
    border-radius: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    font-weight: 550;
}

li{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 23px
}

#todoInput
{
    height: 25px;
    border: 2px solid black;  
    border-radius: 25px;
    font-size: 20px;
    padding-left:5px;
}